﻿@model MVC.Category
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>


@using (Html.BeginForm("SaveCategory", "Category", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
        @Html.LabelFor(cat => cat.CategoryName)
        @Html.TextBoxFor(cat => cat.CategoryName, new { @class = "form-control input-sm" })
        @Html.ValidationMessageFor(cat => cat.CategoryName)
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
        @Html.LabelFor(cat => cat.Description)
        @Html.TextAreaFor(cat => cat.Description, new { @class = "form-control input-sm" })
        @Html.ValidationMessageFor(cat => cat.Description)
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
        <label class="control-label">Picture:</label>
        <input type="file" id="Picture" name="Picture" class="form-control input-sm" />
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
        <img id="loadedImage" src="#" height="150" width="200" />
    </div>

    <div class="form-group">
        <div class="col-lg-6 col-md-6 col-sm-12">
            @Html.HiddenFor(cat => cat.CategoryID)
            @Html.AntiForgeryToken()
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <button type="submit" class="btn btn-sm btn-success">Save</button>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    @{
        if (ViewBag.Message == "Edit Category")
        {
            <script type="text/javascript">
                console.log("Hello World!!!");
                //console.log("data:image/jpeg;base64," + "@ViewBag.Pic");
                //$("#loadedImage").attr("src", "data:image/jpeg;base64," + "@ViewBag.Pic"); 
                $("#loadedImage").attr("src", "data:image/gif;base64," + "@ViewBag.Pic");
            </script>
        }

        if (ViewBag.Message == "Add New Category")
        {
            <script type="text/javascript">
                console.log("Hello World Edit!!!")
            </script>
        }
    }

    <script>
        $(document).ready(function () {
            $("#Picture").on("change", function (e) {
                if (e.target.files && e.target.files[0]) {
                    var extension = "";
                    extension = e.target.files[0].name.split('.')[1];

                    if (extension == "png" || extension == "jpg" || extension == "pdf") {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            console.log(e.target.result)
                            $("#loadedImage").attr("src", e.target.result);
                        }
                        reader.readAsDataURL(e.target.files[0]);
                    }
                }

            })
        })
    </script>

}


