﻿@model MVC.Models.CategoryList
@{
    ViewBag.Title = "Category List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<div class="row">
    <div class="col-lg-6 col-sm-6 col-md-12" style="margin-bottom: 5px">
        <button type="button" class="btn btn-sm">
            @Html.ActionLink("Add New Category", "CategoryForm")
        </button>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <td><b>Category Name</b></td>
        <td><b>Description</b></td>
        <td><b>Action</b></td>
    </tr>

    @foreach (var cat in Model.allCategory)
    {
        <tr>
            <td>@cat.CategoryName</td>
            <td>@cat.Description</td>
            <td>@Html.ActionLink("Details", "GetParticularCategory", new { id = @cat.CategoryID })</td>
        </tr>
    }
</table>

