﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginForm</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="landing">

    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 15%">
            @*<div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control input-sm" />
                    </div>

                    <div class="col-md-12">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control input-sm" />
                    </div>
                </div>*@

            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="background-color: ghostwhite; padding: 20px">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-5">
                                @*<img src="~/Images/com.jpg" alt="logo" height="30" width="30" />*@
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control input-sm" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" id="login" class="btn btn-block btn-primary">Login</button>
                                <br />
                                <p style="text-align: center"><a href="#">Forgot password?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script>
        $(document).ready(function () {
        })
    </script>
</body>
</html>
