﻿@model MVC.Models.ProductList
@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<div class="row">
    <div class="col-lg-6 col-sm-6 col-md-12" style="margin-bottom: 5px">
        <button type="button" class="btn btn-sm">
            @Html.ActionLink("Add New Product", "ProductForm")
        </button>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <td><b>Product Name</b></td>
        <td><b>Price</b></td>
        <td><b>Action</b></td>
    </tr>

    @foreach (var p in Model.allProducts)
    {
        <tr>
            <td>@p.ProductName</td>
            <td>@p.UnitPrice</td>
            <td>@Html.ActionLink("Details", "GetParticularProduct", new { id = @p.ProductID })</td>
        </tr>
    }
</table>

