﻿@model MVC.ViewModel.ProductCategories

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Header</h2>

@using (Html.BeginForm("SaveProduct", "Product"))
{
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.LabelFor(p => p.Product.ProductName)
            @Html.TextBoxFor(p => p.Product.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Product.ProductName)
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.LabelFor(p => p.Product.UnitPrice)
            @Html.TextBoxFor(p => p.Product.UnitPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Product.UnitPrice)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.LabelFor(p => p.Product.CategoryID)
            @Html.DropDownListFor(p => p.Product.CategoryID, new SelectList(Model.Categories, "CategoryID", "CategoryName"), "Please select a Product" , new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Product.CategoryID)
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.LabelFor(p => p.Product.SupplierID)
            @Html.DropDownListFor(p => p.Product.SupplierID, new SelectList(Model.Suppliers, "SupplierID", "CompanyName"), "Please select a Supplier", new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Product.SupplierID)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.LabelFor(p => p.Product.QuantityPerUnit)
            @Html.TextBoxFor(p => p.Product.QuantityPerUnit, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Product.QuantityPerUnit)
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.LabelFor(p => p.Product.UnitsInStock)
            @Html.TextBoxFor(p => p.Product.UnitsInStock, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Product.UnitsInStock)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            @Html.HiddenFor(p => p.Product.ProductID)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <button class="btn btn-sm btn-success" type="submit">Save</button>
        </div>
    </div>
}

