﻿@model MVC.Employee

@{
    ViewBag.Title = "EmployeeForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<div id="employeeDialog" class="">
    <div class="modal-dialog">
        @using (Html.BeginForm("SaveEmployee", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-sm btn-default pull-right" data-dissmiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                    <h4 class="modal-title">Title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">First Name</label>
                            @Html.TextBoxFor(emp => emp.FirstName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(emp => emp.FirstName)
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Last Name</label>
                            @Html.TextBoxFor(emp => emp.LastName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(emp => emp.LastName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Country</label>
                            @Html.TextBoxFor(emp => emp.Country, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(emp => emp.Country)
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">City</label>
                            @Html.TextBoxFor(emp => emp.City, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(emp => emp.City)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Birthdate</label>
                            @Html.TextBoxFor(emp => emp.BirthDate, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(emp => emp.BirthDate)
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Hire Date</label>
                            @Html.TextBoxFor(emp => emp.HireDate, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(emp => emp.HireDate)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.HiddenFor(emp => emp.EmployeeID)
                            @Html.AntiForgeryToken()
                        </div>
                    </div>
                </div>
                <div class="modal-footer panel-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-warning" data-dissmiss="modal">Close</button>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{

    <script>
        $(document).ready(function () {
            $("#BirthDate").datepicker();

            $("#HireDate").datepicker();
        })
    </script>
}

