﻿@model MVC.Models.EmployeeList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>

<table class="table table-bordered">
    <tr>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
        <td><b>City</b></td>
        <td><b>Country</b></td>
        <td><b>Action</b></td>
    </tr>

    @foreach (var emp in Model.empList)
    {
        <tr>
            <td>@emp.FirstName</td>
            <td>@emp.LastName</td>
            <td>@emp.City</td>
            <td>@emp.Country</td>
            <td>@Html.ActionLink("Details", "GetParticularEmployee", new { id = @emp.EmployeeID })</td>
        </tr>
    }
</table>

