﻿@*@model MVC.Models.CustomerList*@

@model MVC.Customer

@Styles.Render("~/Content/kendoGrid")
@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@*<table class="table table-bordered table-hover" id="customer">
        <thead>
            <tr>
                <td><b>Company Name</b></td>
                <td><b>Contact Person Name</b></td>
                <td><b>Country</b></td>
                <td><b>Action</b></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var c in Model.allCustomers)
            {
                <tr>
                    <td>@c.CompanyName</td>
                    <td>@c.ContactName</td>
                    <td>@c.Country</td>
                    <td>@Html.ActionLink("Details", "GetParticularCustomer", new { id = @c.CustomerID })</td>
                </tr>
            }
        </tbody>
    </table>*@

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
        <a class="btn btn-default" href="@Url.Action("AddNew", "Customer")"> Add new</a>
        @*<button>@Html.ActionLink("Add New", "AddNew")</button>*@
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="grid"></div>
    </div>
</div>

<div id="customerDialog" class="modal fade">
    <div class="modal-dialog">
        @using (Html.BeginForm("SaveCustomer", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-sm btn-default pull-right" data-dissmiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                    <h4 class="modal-title">Title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Company Name</label>
                            @Html.TextBoxFor(c => c.CompanyName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(c => c.CompanyName)
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Contact Name</label>
                            @*@Html.TextBoxFor(c => c.ContactName, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(c => c.ContactName)*@
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Country</label>
                            @Html.TextBoxFor(c => c.Country, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(c => c.Country)
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">City</label>
                            @Html.TextBoxFor(c => c.City, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(c => c.City)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Address</label>
                            @Html.TextBoxFor(c => c.Address, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(c => c.Address)
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Phone</label>
                            @Html.TextBoxFor(c => c.Phone, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(c => c.Phone)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.HiddenFor(c => c.CustomerID)
                            @Html.AntiForgeryToken()
                        </div>
                    </div>
                </div>
                <div class="modal-footer panel-footer">
                    <button type="button" id="contacts" class="btn btn-primary pull-left">Contacts</button>
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" id="close" class="btn btn-warning" data-dissmiss="modal">Close</button>
                </div>
            </div>
        }
    </div>
</div>

<div id="customerContactDialog" class="modal fade">
    <div class="modal-dialog" style="width: 700px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm btn-default pull-right" data-dissmiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-success" id="addData">Add</button>
                    </div>
                    <div class="panel-body">
                        <table class="table" id="contactTable" style="width: 100%">
                            <thead>
                                <tr>
                                    <td>First Name</td>
                                    <td>Last Name</td>
                                    <td>Email</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer panel-footer">
                <button type="button" id="AddContact" class="btn btn-success">Save</button>
                <button type="button" id="closeContact" class="btn btn-warning" data-dissmiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="customerContactDetailsDialog" class="modal fade">
    <div class="modal-dialog" style="width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm btn-default pull-right" data-dissmiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label>Name</label>
                        @Html.TextBoxFor(c => c.ContactName, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label>Title</label>
                        @Html.TextBoxFor(c => c.ContactTitle, new { @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label>Postal Address</label>
                        @Html.TextBoxFor(c => c.PostalCode, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label>Telephone Number</label>
                        @Html.TextBoxFor(c => c.Phone, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
            <div class="modal-footer panel-footer" style="clear: both">
                <button type="button" id="SaveContactDetail" class="btn btn-success">Save</button>
                <button type="button" id="CloseContactDetail" class="btn btn-warning" data-dissmiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/kendoGrid")
    <script>
        $(document).ready(function () {

            if ("@Model" == "" && "@ViewBag.Action" == 1) {
                $("#customerDialog").modal("show");
            } else if ("@Model" != "") {
                $("#customerDialog").modal("show");
            }

            $("#close").click(function () {
                $("#customerDialog").modal("hide");
            });

            $("#closeContact").click(function () {
                $("#customerContactDialog").modal("hide");
            });

            $("#contacts").click(function () {
                $("#customerContactDialog").modal("show");
            });

            //$("#addData").click(function () {
            //    $("#contactTable").append("<tr><td>John</td><td>Swane</td><td>Castle Avenue</td></tr>")
            //})

            $("#contactTable").DataTable({
                data: [],
                columns: [
                    { data: "ContactName" },
                    { data: "ContactTitle" },
                    { data: "PostalCode" }
                ]
            });

            var contactTable = $("#contactTable").dataTable();

            $("#AddContact").click(function () {

                $.ajax({
                    type: "POST",
                    url: "/Customer/ContactDetails",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(contactTable.fnGetData()),
                    success: function (data) {
                        //console.log(data);
                        $("#customerContactDialog").modal("hide");
                    },
                    error: function (errMsg) {
                        console.log("error");
                    }
                });
            });

            $("#addData").click(function () {
                $("#customerContactDetailsDialog").modal("show");

            });

            $("#SaveContactDetail").click(function () {
                contactTable.fnAddData({ "ContactName": $("#ContactName").val(), "ContactTitle": $("#ContactTitle").val(), "PostalCode": $("#PostalCode").val() });
                $("#customerContactDetailsDialog").modal("hide");
            })

            $("#CloseContactDetail").click(function () {
                $("#customerContactDetailsDialog").modal("hide");
            })


            //$("#customer").DataTable({
            //    ajax: {
            //        url: "/api/customers",
            //        dataSrc: ""
            //    },
            //    columns: [
            //        {
            //            data: "companyName"
            //        },
            //        {
            //            data: "contactName"
            //        },
            //        {
            //            data: "country"
            //        },
            //        {
            //            data: "customerID",
            //            render: function (data) {
            //                return "<button type='button' class='btn btn-sm btn-success' customer=" + data + "><span class='glyphicon glyphicon-edit'></span></button>"
            //            }
            //        },
            //    ]
            //});

            var arr = [];

            $("#grid").kendoGrid({
                dataSource: { data: arr, pageSize: 10 },
                pageable: {
                    refresh: false,
                    pageSizes: true,
                    buttonCount: 5
                },
                height: 390,
                columns: [
                    { field: "companyName", title: "Company Name" },
                    { field: "contactName", title: "Contact Person Name", width: '20%' },
                    { field: "country", title: "Country", width: '20%' },
                    {
                        command: [
                            { template: "<div id='customer' title='' style='display: inline-block; max-width: 30px; margin-right:2px;' class='btn btn-success btn-sm'><span class='glyphicon glyphicon-pencil'></span></div>" }
                        ],
                        title: "Action",
                        width: "80px"
                    },
                ]
            });

            var grid = $("#grid").data("kendoGrid");

            $.ajax({
                url: "/api/customers",
                type: "GET",
                contentType: "application/json",
                datatype: "json",
                success: function (data) {
                    grid.dataSource.data(data);
                },
                error: function (error) {
                    console.log(error);
                    grid.dataSource.data([]);
                },
            });

            grid.table.on("click", "#customer", function (e) {
                var fn = function (e) {
                    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                    window.location.href = "/customer/GetParticularCustomer/" + dataItem.customerID;
                }

                fn.call(grid, e);
            })
        })

        //$("#customer").on("click", "button", function () {
        //    window.location.href = "/customer/GetParticularCustomer/" + $(this).attr("customer");
        //})


    </script>
}

