﻿@model MVC.Customer
@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>

<h4><label>Company Name:</label> @Model.CompanyName</h4>

<h4><label>Contact Name:</label> @Model.ContactName</h4>

<h4><label>Country:</label> @Model.Country</h4>

<h4><label>City:</label> @Model.City</h4>

<h4><label>Address:</label> @Model.Address</h4>

<h4><label>Phone:</label> @Model.Phone</h4>